@charset "UTF-8";

/* CSS - externo */
body{
	background-color: #FFB74D;
}

h1{
	background-color: #FF9800;
	text-align: center; /* left, right, center, justify */
	border-width: 5px;
	border-color: #000000;
	border-style: solid; /* solid, double, dotted, dashed */
}
